.apod-card-img  {

    width: 720px;
    border-radius: 10px;
    overflow: hidden;

}

.apod-card-description {


    width: 720px;
 

}

.apod-card-copy {

    font-weight: 700;

}

.apod-container {

    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;


}